@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Nunito:wght@500&display=swap');

/* Body styling */
body {
 background-color: #bb0522;
}

/* Navigation */
nav ul {
    display: flex;
    list-style: none;
    justify-content: right;
    font-family: 'Dongle', sans-serif;
    font-size: 32px;
    margin-top: 0;
}

nav ul li a {
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
    color: black;
}

nav ul li a:hover {
    color: black;
    text-shadow: 1px 1px rgb(0, 0, 0, 0.3);
}

/* Movie list under Movie header */
.list-of-movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.movie-poster {
    display: flex;
    margin: 25px 15px;
}

/* Watchlist */


/* Pop up when you hover over the movies */
.image-container {
    display: flex;
    justify-content: center;
    position: relative;
    transition: transform 0.2s;
}

.image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.image-container:hover .overlay {
    opacity: 1;
    width: 160px;
    border-radius: 25px;
    padding: 10px;
}

.overlay {
    position: absolute;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.7);
    width: 80%;
    transition: ease-in;
    opacity: 0;
    bottom: 0;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    color: white;
}

/* Movie search box */
.search-box, .SearchBox{
    text-align: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border-radius: 20px;
    background-color: whitesmoke;
    border: 2px solid black;
    width: 250px;
    text-align: center;
}

h1 {
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
}

p, .search-box, span {
    font-family: 'Nunito', sans-serif;
}

.top {
    margin-bottom: 30px;
}

h2, h3{
    font-family: 'Dongle', sans-serif;
    font-size: 20px;
}


.plus-rating {
    background-color: transparent;
    border: none;
    width: 10px;
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    margin: 0 10px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
