.list-of-movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-poster {
    display: flex;
    margin: 10px 10px;
}

.search-box {
    text-align: center;
}

.image-container {
    position: relative;
    transition: transform 0.2s;
}

.image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.8);
    width: 80%;
    transition: ease-in;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}