@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Nunito:wght@500&display=swap');

/* App Review Page CSS
*/
body{
    background: #BB0522;
    /*background: -moz-radial-gradient(center, #BB0522 0%, #CB2424 50%, #752C37 100%);
    background: -webkit-radial-gradient(center, #BB0522 0%, #CB2424 50%, #752C37 100%);
    background: radial-gradient(ellipse at center, #BB0522 0%, #CB2424 50%, #752C37 100%);*/
    font-family: 'Nunito', sans-serif;
    }

/* classes */

.central{
    display: flex;
    justify-content: space-between;
}

.LHS{
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 30%;
    padding-top: 80px;
}

.RHS{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 40%;
    height: 30%;
    padding-top: 80px;
}

.top-film{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    font-size: medium;
    text-align: center;
}


/* Navigation Stying */
nav ul {
    display: flex;
    text-decoration: none;
    justify-content: right;
    font-family: 'Dongle', sans-serif;
    font-size: 35px;
}

nav ul li, nav ul li a {
    display: flex;
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

a:hover {
    color: white;
}


/* Search Box on home page*/
.searchBox {
    display: flex;
    justify-content: center;
    align-content: center;
}

.inputBox {
    border: 2px solid green;
    font-family: 'Nunito', sans-serif;
}

/* Movie List on home page */
.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 1;
}

