@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Nunito:wght@500&display=swap');

/*App Review Page CSS */

/* classes */

.central{
    display: flex;
    justify-content: space-between;
}

.LHS{
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 30%;
    padding-top: 80px;
}

.RHS{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding-top: 80px;
}

.top-film{
    font-family:'Dongle', sans-serif;
    font-size: 40px;
    color:black;
    font-size: medium;
    text-align: center;
    margin: 50px 0;
}



