/* Thumbnail Poster CSS
*/

img{
    border: solid rgb(113, 5, 5) 5px;
    border-radius: 10px;
    object-fit: cover;
    height:200px;
    width:200px;
    -webkit-box-shadow: 5px 14px 12px 5px rgba(35,2,7,0.43); 
box-shadow: 5px 14px 12px 5px rgba(35,2,7,0.43);
    display: flex;
    
}